<!DOCTYPE html>
<html>
  <head>
    <title>Dabo careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
          <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
    <img id="banner" src="https://1c99e222-8c15-48b2-893f-c0a2d9d63253-00-1z0kxlvr3c9wz.janeway.replit.dev/static/photo.jpg" height="300">
    <h2 class="text-center mt-2 mb-4">About Dabo</h2>
    <p class="lead">Dabo careers is a platform where you can view a variety of available jobs in both government and private sector. Also you can easily apply for the jobs using few simple steps, You don't need to have a prepred CV just answer some questions then you are done</p>
    <h2 class="text-center mt-2 mb-4">Open positions</h2>
    <div>{% for job in jobs %}
      {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    </p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact us</button>
    <p class="mt-4">Copyright 2024, Dabo</p>
  </div>
    </div>
  </body>
</html>